<!DOCTYPE html>
<html lang="en">

<head>
    <title>RIW Project</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Help us validate IVF</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">RIW Project</h3>
        </div>

        <div class="jumbotron">
            <h1>Monkgle</h1>
            <p class="lead"></p>
            <form class="form-wrapper cf" action="/search" method="get">
                <input name="search" type="text" placeholder="Search here..." required>
                <button type="submit">Search</button>
            </form>
        </div>

        <footer class="footer">
            <p>&copy; L. Palmito & Pampers</p>
        </footer>

    </div>
</body>

</html>